<% layout('layouts/boilerplate')  %> 

<form method="POST" action="/noticias/<%- noticia._id %>?_method=PUT">
    <div>
        <label for="title">Insira o título da notícia:</label>
        <input type="text" name="noticia[title]" id="title" value="<%- noticia.title %>" >  
    </div>
    <div>
        <label for="subtitle">Descreva brevemente a notícia:</label>
        <input type="text" name="noticia[subtitle]" id="subtitle" maxlength="200" value="<%- noticia.subtitle %>">
    </div>
    <div>
        <label for="image_url">Insira o link da imagem:</label>
        <input type="url" name="noticia[image_url]" id="image_url" placeholder="https://example.com" value="<%- noticia.image_url %>">
    </div>
    <div>
        <label for="url">Insira o link da notícia:</label>
        <input type="url" name="noticia[url]" id="url" placeholder="https://example.com" value="<%- noticia.url %>">
    </div>
    <div>
        <label for="theme">Escolha o tema da notícia:    </label>
        <select name="noticia[theme]" id="theme">
            <option value="esportes">Esportes</option>
            <option value="famosos">Famosos</option>
            <option value="entretenimento">Entretenimento</option>
            <option value="politica">Política</option>
        </select>
    </div>
    <div>
        <label for="content">Escreva sua notícia:</label>
        <textarea name="noticia[content]" id="content" cols="30" rows="5"><%- noticia.content %></textarea>
    </div>
    <button>Editar Notícia</button>
</form>

<form method="GET" action="/noticias">
    <button>Voltar para casa</button>
</form>


<form method="POST" action="/noticias/<%- noticia._id %>?_method=DELETE">
    <button>DELETE</button>
</form>