<% layout('layouts/boilerplate')  %> 

    <h1>Painel de Controle</h1>

    <div class="container my-3">
        <% for(let noticia of noticias) { %> 
            <div class="row">
                <div class="col-1"><a href="<%= noticia.image_url %>" class="alert-link">Imagem</a></div>
                <div class="col-3"><strong><%= noticia.title %></strong></div>
                <div class="col-3"><%= noticia.subtitle %> </div>
                <div class="col-2"><%= noticia.theme %> </div>
                <div class="col-1"><a href="<%= noticia.url %>" class="alert-link">Link</a></div>
                <div class="col-1">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <% // Edit Button %> 
                        <form method="GET" action="/noticias/<%= noticia._id %>/edit">
                            <button type="submit" class="btn btn-outline-success"><i class="fas fa-edit"></i></button>
                        </form>
                         <% // Delete Button %> 
                        <form method="POST" action="/noticias/<%= noticia._id %>?_method=DELETE">
                            <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button> 
                        </form>
                      </div>
                </div>
            </div>
        <% } %>  
    </div>

    <%- include('../partials/modalNew')  %> 

    <div class="position-fixed bottom-0 end-0 translate-middle">
        <button type="button" class="btn btn-lg btn-primary rounded-circle" data-bs-toggle="modal" data-bs-target="#formNew">
            <i class="fas fa-plus fa-3x"></i>
        </button>
    </div>
    </form>