<% layout('layouts/boilerplate')  %> 

<h1><%= noticia.title %> </h1>

<h2><%= noticia.subtitle %> </h2>

<h3>Tema: <%= noticia.theme %> </h3>

<a href="<%= noticia.url %>">Acesse Aqui</a>

<p><%= noticia.content %> </p>

<!-- <p><%= // noticia.image_url %> </p> -->

<img src="<%= noticia.image_url %>" alt="">

<form method="GET" action="/noticias/<%= noticia._id %>/edit">
    <button>Editar notícia</button>
</form>